name: Continuous Integration
on: [push, pull_request]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [
          macos-10.15,
          macos-11,
          macos-12,
          ubuntu-18.04,
          ubuntu-20.04,
        ]
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - uses: actions/setup-node@v3
      with:
        node-version: 12
    - run: ./bats-core/bin/bats ./tests/run.bash
      shell: bash
